:root {
    ---font-family: 'Work Sans', sans-serif;
    --light-pink: #e9ddcf;
    --pink: #FF900E;
    --white: #FFFFFF;
    --black: #131313;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(---font-family);
    text-decoration: none;
    list-style: none;
}

.btn-primary {
    background-color: var(--pink);
    color: var(--white);
    border-radius: 8px;
    width: 180px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    border-color: transparent;
}

/*-----------------
 header section 
 -----------------*/
nav {
    background-color: var(--light-pink);
    width: 100%;
    padding: 0 100px;
    text-align: center;
}

.menu-section ul {
    display: flex;
    gap: 40px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

.logo {
    font-weight: 700;
    font-size: 45px;
    color: var(--black);
}

ul li {
    font-weight: 600;
    font-size: 30px;
    color: #424242;
}

.header-deteils {
    text-align: center;
    margin: auto;
    width: 100%; 
}

.header-deteils h1 {
    font-weight: 700;
    font-size: 64px;
    color: var(--black);
    margin-bottom: 20px;
}

.header-deteils p {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 30px;
}

.header-deteils button {
    margin-bottom: 50px;
}

.nav-img {
    margin: 0 auto;
    width: 100%;
    padding-bottom: 50px;
}

/*--------------------------
 Quick list of Our Features 
 --------------------------*/
.quick-list-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;

}

.qucik-list-details {
    margin-left: 70px;
    margin-right: 300px;
}

.quick-list {
    display: flex;
    justify-items: center;
    align-items: center;
    margin-left: 300px;
    justify-content: center;
    margin-top: 85px;
    margin-bottom: 130px;
}

h1 .h-1 {
    color: #727272;
    font-weight: 500;
    font-size: 45px;
}

h1 .h-2 {
    color: #131313;
    font-weight: 700;
    font-size: 45px;
}

h1 .h-3 {
    font-weight: 700;
    font-size: 45px;
    color: #FF900E;
}

.qucik-list-details p {
    margin-top: 24px;
    margin-bottom: 30px;
}

/* Feature */
.features-details-section-border {
    margin-bottom: 24px;
}

.features-details-section-border h1 {
    border-left: 5px solid #FF900E;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 24px;

}

.features-details-section-border p {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.features-details-section {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 30px;
}

.features-details-section h1 {
    font-weight: 600;
    font-size: 20px;
    color: #131313;
}

.features-details-section p {
    font-size: 16px;
    color: #727272;
}

.features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 300px;
    margin-right: 300px;
    gap: 90px;
    justify-content: center;
    align-items: center;
}

.btn-secondary {
    position: relative;
    top: -100px;
    left: 700px;
    background: #FF900E;
    border-radius: 8px;
    width: 300px;
    height: 100px;
    color: #FFFFFF;
    border-color: transparent;

}

.btn-ss {
    font-weight: 600;
    font-size: 55px;
}

.btn-secondary p {

    font-weight: 500;
    font-size: 25px;
}

/* some fact */

.some-facts{
    margin-left: 240px;
    margin-right: 240px;
}
.fact-details h1, .sponsers h1, .serice-title h1{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.fact-details p, .sponsers p{
    color: #727272;
}

.fact-box-container {
    text-align: center;
    border: 1px solid #FF900E;
    height: 240px;
    width: 240px;
    padding: 45px 36px 55px 35px;

}

.fact-box-container h1,
i {
    font-size: 600;
    font-size: 45px;
    color: #424242;
    margin-bottom: 5px;
}

.fact-box-container p {
    font-weight: 600;
    font-size: 20px;
    color: #727272;
    margin-bottom: 5px;
}
.fact-box{
    display: flex;
    gap: 120px;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    transition: 0.6s;
}
.fact-box :hover{
    background-color: #e7d8d8;
}
/* sponspors */
.sponsers{
    text-align: center;
    margin-top: 160px;
    margin-bottom: 50px;
}
.popular-site{
    display: flex;
    gap: 130px;
    align-items: center;
    justify-content: center;
    margin-bottom: 130px;
}
/* survices */
.service{
    text-align: center;
    border: 1px solid #FF900E;
    height: 340px;
    width: 300px;
    padding: 30px 30px;
}
.service h1{
    margin-bottom: 15px;
}
.service p{
    margin-bottom: 10px;
}
.services{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    margin-bottom: 130px;
}
.serice-title h1{
    text-align: center;
    margin-bottom: 50px;
}
.btn{
    background-color: #FF900E;
    color: #FFFFFF;
    height: 50px;
    border-radius: 5px;
    border-color: transparent;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    justify-items: center;
    gap: 10px;
    align-items: center;
    padding: 5px;
}
.btn i{
    color: #FFFFFF;
}

/* footer */

.footer{
    background-color:#FFF4E7;
    text-align: center;
    width: 100%;
    height: 100px;
    padding: 38px 0;
    color: #424242;
}

/* Responsive Section */
@media only screen and (max-width:590px) {
    .logo h1{
        margin-bottom: 25px;
    }
    .header-deteils h1{
        margin-right: 100px;
        font-size: 40px;
    }
    .menu-section ul, .header{
        flex-direction: column;
    }
    .quick-list-images {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 50px;
    }
    .quick-list {
        flex-direction: column-reverse;
        margin: 50px
    }
    .qucik-list-details{
        margin: 0;
    }
    
    .features {
        display: flex;
        flex-direction: column;
        margin: 50px;
    }
    .features-img-section{
        display: none;
    }
    .some-facts{
        margin: 50px;
    }

    .btn-secondary {
        top: 5px;
        left: 5px;
        margin-left: 50px;
    }
    .fact-box{
        flex-direction: column;
        gap: 25px;
        margin-top: 100px;
        align-items: center;
        justify-content: center;
        transition: 0.6s;
    }
    .popular-site{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
        align-items: center;
        justify-content: center;
        justify-items: center;
        margin-bottom: 130px;
        padding: 40px;
    }
    .pp-sp{
        grid-column: span 2;
    }
    .services{
        flex-direction: column;
        gap: 25px;
        align-items: center;
        justify-content: center;
        margin-bottom: 130px;
    }
}